body{
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
#marco{
    border: 1px solid black;
    background-color: rgb(196, 152, 86);
    border-radius: 5px;
    text-align: center;
    height: auto;
}
h1{
    margin: 20px;
}
#j1nom input, #j2nom input{
    margin-bottom: 50px;
    background-color: blanchedalmond;
}

#iniciar{
    scale: 1.2;
    margin-bottom: 20px;
    background-color: blanchedalmond;
}


