body {
    background-image: url('Media/bgmain.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

#marco {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    animation: fondo 2.3s infinite ease-in-out;
}

@keyframes fondo {
    from { background-color: rgba(255, 119, 0, 0.4) }
    to { background-color: rgba(230, 0, 255, 0.4) }
}


h1 {
    margin: 20px;
}

#j1nom input, #j2nom input {
    margin-bottom: 50px;
    background-color: blanchedalmond;
}

#empezar {
    scale: 1.2;
    margin-bottom: 20px;
    background-color: blanchedalmond;
}


