body {
    background-image: url('Media/fireworks.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#marco {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    animation: fondo 3s infinite ease-in-out;
}

@keyframes fondo {
    0% { background-color: rgba(255, 0, 0, 0.7) }
    16.66% { background-color: rgba(255, 165, 0, 0.7) }
    33.33% { background-color: rgba(255, 255, 0, 0.7) }
    50% { background-color: rgba(0, 128, 0, 0.7) }
    66.66% { background-color: rgba(0, 0, 255, 0.7) }
    83.33% { background-color: rgba(75, 0, 130, 0.7) }
    100% { background-color: rgba(148, 0, 211, 0.7) }
}

#palabraLarga, #palabrasUsadas, #nombres {
    
    color: white;
}


h1{
    margin: 20px;
}

#trofeo1{
    width: 30px;
    height: 30px;
    border: 5px;
}

h3{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: blanchedalmond;
}

#volver{
    scale: 1.2;
    background-color: blanchedalmond;
    margin: 10px;
}

#volver2{
    scale: 1.2;
    background-color: blanchedalmond;
    margin: 10px;
}


